.wy-nav-side {
    background: #ffffff;    
}

.wy-menu-vertical a {
    color: black;    
}
.toctree-l1 a:hover {
    background: #2980B9 !important;  
} 

.rst-versions {
    background: #2980B9 !important;  
}

.addons {
    background: #1f1d1d;
}

.lk01 {

    color: #2980B9;
    border: solid 1px #2980B9;
    font-size: xx-small;
    margin-right: 10px;
}

/* #2980B9; */