.wy-nav-side {
    background: #fcfcfc;    
}

.wy-menu-vertical a {
    color: black;    
}
.toctree-l1 a:hover {
    background: #2980B9 !important;  
} 

.rst-versions {
    background: #2980B9 !important; 
    line-height: 18px;
    font-size: 90%;

}

.rst-versions a {
    color: #fcfcfc;
    font-weight: bold;
}

.beheer-info {
    background: #1f1d1d; 
}

.lk01 {

    color: #2980B9;
    border: solid 1px #2980B9;
    font-size: xx-small;
    margin-right: 10px;
    width: 15px;
}

.faq, .syn, .beheer {
    /*padding: 12px; */
}

#logo img { width: 60%; margin-left: auto; margin-right: auto; display: block }

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
    font-family: 'RO Serif', serif;
}
}
}
/* #2980B9; */