.wy-nav-side {

    background: #ffffff;
    
}

.wy-menu-vertical a {
    color: black;    
}



.toctree-l1:hover {
    background: grey; 
    font-size: 2em;   
}

.toctree-l1:hover {
    background: #2980B9 !important;    
}


/* #2980B9; */