---
layout: default
---

<script>
document.addEventListener("DOMContentLoaded", () => {
  const params = new URLSearchParams(window.location.search);
  const query = params.get('q');
  if (!query) return;

  // highlight alle matches in de pagina
  const bodyText = document.body.innerHTML;
  const regex = new RegExp(query, 'gi');
  document.body.innerHTML = bodyText.replace(regex, match => `<mark>${match}</mark>`);
});

document.getElementsByTagName('h1')[0].innerHTML = document.getElementsByTagName('h1')[0].innerHTML + '<span class="lk01' + document.getElementById('abbr').innerHTML + '</span>';
</script>

{{ content }}
