<div class="rst-versions" role="note" aria-label="versions">
    <div class="faq">
        <div class="title p-1">
            <i class="fa fa-question-circle-o"></i>
            <a style="text-decoration: none" href="veelgesteldevragen">&nbsp;&nbsp;Veelgestelde vragen</a>
        </div>
      </div> 
      <div class="syn">
        <div class="title p-1">
            <i class="fa fa-table"></i>
            <a style="text-decoration: none" href="synoniemenlijst">&nbsp;&nbsp;Synoniemen</a>
        </div>
      </div> 
            <div class="status d-flex flex-justify-between p-2"> 
                <div class="title p-1"><i class="fa fa-book"></i> Beheer en licentie</div> 
            <div class="branch p-1"> <span class="name"> master </span> <i class="fa fa-caret-down"></i> 
            </div> 
        </div> 
        <div class="addons d-flex flex-column height-full p-2">
            <dl>
                <dt>
                    <small>Geonovum ontwikkelt en beheert het digitale objectenhandboek BGT | IMGeo in opdracht van het Ministerie van Binnenlandse Zaken en Koninkrijksrelaties.<br><br>Suggesties en (betere) foto's zijn van harte welkom op <a href="mailto:imgeo@geonovum.nl"> imgeo@geonovum.nl </a></small>.
                </dt>
            </dl>
            <hr> 
            <dl> 
                <dt>GitHub</dt> 
                <dd> 
                    <a href="https://github.com/Geonovum/IMGeo-objectenhandboek" title="Stars: 3"> <i class="fa fa-github"></i> Homepage </a>
                    
                </dd> 
                <dd> 
                    <a href="https://github.com/Geonovum/IMGeo-objectenhandboek/issues" title="Open issues: 0"> <i class="fa fa-question-circle-o"></i> Issues </a> </dd> <dd> <a href="https://github.com/Geonovum/IMGeo-objectenhandboek/zipball/master" title="Size: 55719 Kb"> <i class="fa fa-download"></i> Download </a> </dd> </dl> <hr> <div class="license f6 pb-2"> This <a href="/IMGeo-objectenhandboek/" title="IMGeo objectenhandboek">Software</a> is under the terms of <a href="https://github.com/Geonovum/IMGeo-objectenhandboek">Creative Commons Attribution 4.0 International</a>. 
                    </div> 
                </div> 

<script>
  document.querySelector(".status").addEventListener("click", function() {
    document.querySelector(".addons").classList.toggle("hidden");
  });
</script>

<style>
  .addons.hidden { display: none; }
</style>

    <!--span class="rst-current-version" data-toggle="rst-current-version">
      {%- if site.repo_url %}
        <a href="{{ site.repo_url }}" class="fa fa-github" target="_blank" style="float: left; color: #fcfcfc"> GitHub</a>
      {%- endif %}
      {%- if previous_page %}
        <span><a href="{{ previous_page.url | absolute_url }}" style="color: #fcfcfc;">&laquo; Previous</a></span>
      {%- endif %}
      {%- if next_page %}
        <span style="margin-left: 15px"><a href="{{ next_page.url | absolute_url }}" style="color: #fcfcfc">Next &raquo;</a></span>
      {%- endif %}
    </span-->
</div>
